<section id="work" class="py-20 md:py-32">
  <h2 class="text-4xl sm:text-5xl font-extrabold mb-16 relative" data-aos="fade-up">
    <span
      class="text-gray-400 opacity-20 absolute -left-10 text-9xl top-1/2 transform -translate-y-1/2 -z-10 hidden md:block">Experience</span>
    <span class="accent-text">//</span> Where I've Worked
  </h2>

  <!-- Timeline/List Structure -->
  <div class="space-y-8 md:space-y-12">
    @for(work of experienceDetails; track $index; let first = $first){
    <div
      class="work-item border-l-4 pl-6 md:pl-8 transition-all duration-300 p-4 md:p-6 rounded-lg hover:bg-gray-800/30 light:hover:bg-gray-100/30 hover:shadow-lg hover:-translate-x-1"
      [ngClass]="{'border-[--accent-color]': first}" data-aos="fade-up" data-aos-delay="100">
      <p class="text-sm font-mono accent-text mb-2">{{work.startDate}} — {{work.endDate}}</p>
      <h3 class="text-2xl md:text-3xl font-bold mt-1 mb-3">{{work.role}}
        <span class="text-gray-400 text-muted">
          &#64; {{work.organization}}
        </span>
      </h3>
      <ul class="list-disc ml-6 md:ml-8 mt-3 space-y-2 text-gray-400 text-muted">
        @for(points of work.description; track $index) {
        <li>{{points}}</li>
        }
      </ul>
    </div>
    }
  </div>

  <div class="text-center mt-16" data-aos="fade-up" data-aos-delay="400">
    <a href="https://drive.google.com/file/d/1Q3rXSqWBTFj7IHClpZSdh8VvgfIZr2mB/view?usp=drive_link" target="_blank"
      class="inline-block py-3 px-8 text-base font-semibold border-2 rounded-lg accent-button transition-all duration-300 hover:scale-105 hover:shadow-lg cursor-pointer">
      Download Full Resume (PDF)
    </a>
  </div>
</section>